body{

margin:0;
font-family:Arial, sans-serif;
background:#f5f6ff;

}



.navbar{

height:70px;
background:white;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 25px;
box-shadow:0 5px 20px #ddd;

}



.logo{

font-size:22px;
font-weight:bold;
color:#6d28d9;

}



.menu{

font-size:30px;

}



.container{

padding:25px;

}



.hero{

background:linear-gradient(
135deg,
#7c3aed,
#2563eb
);

color:white;
padding:35px;
border-radius:35px;

}



.grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
margin-top:25px;

}



.card{

background:white;
padding:25px;
border-radius:25px;
box-shadow:0 10px 25px #ddd;

font-size:18px;

}
